{
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/transform-runtime",
    "syntax-async-functions"
  ],
  "presets": [
    "@babel/preset-env"
  ]
}
