{
  "plugins": [
    "transform-object-rest-spread",
    "syntax-async-functions"
  ],
  "presets": [
    "es2015"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    },
    "production": {
      "presets": [
        [
          "es2015",
          {
            "modules": false
          }
        ]
      ]
    }
  }
}
