.v-autocomplete {
  padding-right: 0;
  .v-autocomplete-input-group {
    .v-autocomplete-input {
      font-size: 1.5em;
      padding: 10px 15px;
      box-shadow: none;
      border: 1px solid #157977;
      width: calc(100% - 32px);
      outline: none;
      background-color: #eee;
    }
    &.v-autocomplete-selected {
      .v-autocomplete-input {
        color: green;
        background: #f2fff2;
      }
    }
  }
  .v-autocomplete-list {
    position: absolute;
    z-index: 2;
    width: calc(100% - 15px);
    text-align: left;
    border: none;
    max-height: 400px;
    overflow-y: auto;
    border-bottom: 1px solid #157977;
    .v-autocomplete-list-item {
      cursor: pointer;
      background-color: #fff;
      color: #000;
      padding: 5px 10px;
      border-bottom: 1px solid #157977;
      border-left: 1px solid #157977;
      border-right: 1px solid #157977;
      &:last-child {
        border-bottom: none;
      }
      &:hover {
        background-color: #eee;
      }
      abbr {
        opacity: 0.8;
        font-size: 0.8em;
        display: block;
        font-family: sans-serif;
      }
    }
  }
}
