@import '../variables';

.m-feedback {
  z-index: 100;
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 350px;
  text-align: center;
}

.flash__message {
  border-radius: 4px;
  padding: 10px;
}
