.m-profile {
  margin: 15px 0;

  * {
    margin: 10px 0;
  }

  .avatar {
    max-width: 50%;
  }

  .profile-name{
    text-transform: uppercase;
    color: $main-header-color;
    font-weight: 300;
    font-size: 1.2em;
  }

  .profile-club,
  .profile-role {
    color: $secondary-text-color;
    font-weight: 300;
    text-transform: capitalize;
    font-size: 1em;
  }
}
