.o-polaroid {
  background-color: $first-touch-white;
  padding: 15px;
  height: 300px;
  width: 300px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(143, 139, 139, 0.2);
  position: relative;
  margin: 1em;

  img {
    height: 150px;
    width: 260px;
    margin: 0.3em;
  }

  .polaroid-title {
    text-align: left;
    text-transform: capitalize;
    font-weight: bold;
    padding: 50px 0 0 10px;
  }

  .polaroid .description {
    position: relative;
    text-transform: lowercase;
    text-align: left;
    padding-left: 10px;
    padding-top: 0;
    width: 12em;
  }
}
