.navbar.row
  .one.columns.offset.by-nine
    %a.bar-button(href='users/sign_in') Log In
  .one.columns
    %a.bar-button(href='users/sign_up') Sign Up
.section.dark.row
  .landing-image
    .headline
      The Professional Football Network
.half.section.padded.clear.row
  .four.column.offset.by-one
    .header
      Your next big leap is here

    #signup-section-2
      %a.bar-button.big(href='users/sign_up') Sign Up Now

  .four.column.offset.by-two
    .content
      Firsttouch is a free social networking service and online service platform with a distinct football focus. Wether you are looking for, showing off, managing or developing talent, firsttouch is the place for you.

.half.section.padded.green.row
  .six.column.offset.by-three
    .header
      Firsttouch is for those of us who actively participate in football

.section.padded.gray.row
  .six.column.offset.by-one.content
    FirstTouch is for those of us who actively participate in football (soccer). Players, coaches, scouts, agents at all levels... we like to take the game seriously. We want to improve, better ourselves or make substantial contributions. Succinctly and precisely, we do three things:

    %ul
      %li Help you connect, scout and be scouted;
      %li Provide a platform for interaction, learning and sharing within the football community;
      %li Give you the tools to manage your career, your club or your clients.

.section.padded.clear.row
  .three.column.cardboard#players
    .title
      Players
    .description
      Looking for a new club? Want to step up your game? Or are you just another football freak looking for satiate your football appetite?
  .three.column.cardboard#scouts-agents
    .title
      Scouts & Agents
    .description
      Scout? Agent? What’s your reach? Who do you know? What do you know?
  .three.column.cardboard#managers-coaches
    .title
      Managers & Coaches
    .description
      Share your knowledge, take on new challenges and make a name for yourself in the process.
  .three.column.cardboard#clubs
    .title
      Clubs
    .description
      You don’t have Barcelona's resources but that shouldn't stop you.

.half.section.padded.green.row
  .six.column.offset.by-three
    .header
      Football is not complicated and neither is FirstTouch. Don’t just take our word for it. Try it out.

  .six.column.offset.by-three
    .header
      Create a profile

    #signup-section-3
      %a.bar-button.big(href='users/sign_up') Sign Up Now

.half.section.padded.gray.row
  .six.column.offset.by-three
    Footer
