/ Page Content
.full
  .container-fluid
    .row
      .col-lg-12
        .intro-message
          .row
            .logo
              = image_tag 'landing-page/ft-logo.png'
          .row
            %h1 
              Carving out 
              %br 
              Individual and collective 
              %br 
              Success stories
          .row
            %ul
              %li
                %a.bar-button.center(href='/users/sign_up')
                  Get Started
              %li
                %a.bar-button.center(href='/users/sign_in')
                  Log in

#second-page.section
  .container-fluid
    .row#first-half
      .col-lg-3.col-lg-offset-2.cardboard
        .title Your next big leap is here
      %a.bar-button.reverse.center(href='/users/sign_up') Sign up now
      .col-lg-4.col-lg-offset-1.cardboard
        .description
          FirstTouch levels the field, creates opportunities and makes it easier 
          to become the consummate professional, no matter the role you play, 
          nor the level you compete at or the one that you aspire to.
        
    .row#second-half.half
      %h1.header 
        TAKE FOOTBALL SERIOUSLY? 
        %br
        ACTIVELY INVOLVED IN THE GAME? 
        %br
        FIRSTTOUCH IS FOR YOU.

#third-page.section
  .container-fluid
    .row#wrapper
      .col-lg-5#first-half
        .row
          .col-lg-12.padded
            %h1
              THIS IS FOR THE GOALSCORERS AND DEFENDERS.
              %br
              THE COACHES. THE MANAGERS. THE SCOUTS.
              %br
              THE PEOPLE WHO MAKE THINGS HAPPEN.
              %br
              THE ONES WHO WANT MORE.
            
            .content
              %p 
                FirstTouch is a Total Football Management experience. A 
                %br
                place where you can manage your personal career, be 
                %br
                it as a player, a coach, a scout or an agent, and your 
                %br
                team or club. We take football seriously. We put 
                %br
                your footballing goals at the heart of everything. 
                %br
                FirstTouch will help you connect, find and be 
                %br
                found; help you interact, learn and share; 
                %br
                and, give you the tools to manage your 
                %br
                career, your club and your clients.
            %a.bar-button(href="/users/sign_up") Sign Up Now

      .col-lg-7#second-half

// #fourth-page.section
//   .container-fluid
//     .row
//       .col-lg-3#players-wrapper
//         .row
//           .thumbnail
//         .row
//           .caption
//             %h3 Players
//         .row.first-para
//           .caption
//             %p Looking for a new club? Want to step up your game? Or are you just another football freak looking for satiate your football appetite?
//         .row.second-para
//           .caption
//             %p.second-para FirstTouch is there for you no matter your motivation. Register and access to a vast world of football resources; from articles and videos to teammates and experts. FirstTouch will connect you with the people you need to know to manage your career and content to satiate your appetite for football.
// 
//       .col-lg-3#scouts-wrapper
//         .row
//           .thumbnail
//         .row
//           .caption
//             %h3 Scouts & Agents
//         .row.first-para
//           .caption
//             %p Scout? Agent? What’s your reach? Who do you know? What do you know?
//         .row.second-para
//           .caption
//             %p FirstTouch is networking 2.0 and we all know how networking is within this industry. With us you can:
//             %ul.bullet
//               %li Maximise your own network and connect to the right people;
//               %li Expand your reach with access to players, clubs and agents across the world;
//               %li Make your job easier, more efficient, more effective.
// 
//       .col-lg-3#manager-wrapper
//         .row
//           .thumbnail
//         .row
//           .caption
//             %h3 Managers & Coaches
//         .row.first-para
//           .caption
//             %p Share your knowledge, take on new challenges and make a name for yourself in the process.
//         .row.second-para
//           .caption
//             %p This is your career management platform, whether this you are an established manager or first-time coach. Interact with your peers, players or clubs. Learn from a wider community and share your own training and tactical knowledge. Promote yourself and find the perfect coaching challenges to push your career in the right direction.
// 
//       .col-lg-3#clubs-wrapper
//         .row
//           .thumbnail
//         .row
//           .caption
//             %h3 Clubs
//         .row.first-para
//           .caption
//             %p You don’t have Barcelona's resources but that shouldn't stop you.
//         .row.second-para
//           .caption
//             %p FirstTouch offers flexible club-level software solutions designed to help you professionally manage all aspects of your club. These solutions are carefully intertwined with a robust network of industry stakeholders to give you unprecedented access to players, coaches, scouts and agents across the world and their collective knowledge and experience.

//#fourth-page.section
//  .flex-container
//    .flex-col
//      .flex-item
//        %img.thumbnail(src="https://unsplash.it/200/200")
//        .caption
//          %h3 Players
//      .speech.player-speech
//        Personally, I'm always looking to improve and progress… It starts with 
//        drills to improve certain skills or chatting with my coach online, then 
//        there're the opportunities such as trials and transfers. Before you know 
//        it, you're not just finding opportunities, the opportunities are finding 
//        you. FirstTouch quickly becomes the platform for managing your football 
//        career.
//      
//      .flex-item
//        %img.thumbnail(src="https://unsplash.it/200/200")
//        .caption
//          %h3 Scouts
//      .speech.scout-speech
//        FirstTouch is networking 4.0! I have grown my own network; gained access 
//        to markets far and near; tapped into a live and growing database of 
//        players; and, I now have the tools to manage my research more effectively. 
//        I can organise trials, track player performances, refer to scout reports, 
//        make my own notes and contact players, managers and agents directly.
//        
//    .flex-col
//      .flex-item
//        %img.thumbnail(src="https://unsplash.it/200/200")
//        .caption
//          %h3 Clubs
//      .speech.club-speech
//        We may be Barcelona but why can't we operate as them? Centralised communications, 
//        events management, resource management and expert insights are just some of 
//        the things FirstTouch gives you. With the click of a button, we can access 
//        a vast network of players, coaches, agents and more. FirstTouch is truly the 
//        Total Football Management solution for any club.
//        
//      .flex-item
//        .slogan.caption
//          %p Hover over each group to find out more about what FirstTouch offers you
//      .flex-item
//        %img.thumbnail(src="https://unsplash.it/200/200")
//        .caption
//        %h3 Agents
//      .speech.agent-speech
//        Football is about networks and relationships and FirstTouch puts this 
//        at the heart of what they do. As an agent I can manage all my clients 
//        and contacts from one place and communicate with regularly and securely. 
//        But what's more, FirstTouch expands the reach whilst simultaneously 
//        making everything more efficient and effective… I gain more access but 
//        save time and money. It's a no-brainer.
//        
//    .flex-col
//      .flex-item
//        %img.thumbnail(src="https://unsplash.it/200/200")
//        .caption
//          %h3 Managers
//      .speech.manager-speech
//        Building teams and achieving success. That's what FirstTouch is for me! 
//        I get access to a wealth of resources and a vast network of players, 
//        coaches and scouts that I would only expect working for the elite clubs. 
//        It does away with the pain of the trivial activities of more modest 
//        clubs and allows me to focus on what matters: my career, my team, our 
//        success.
//        
//      .flex-item
//        %img.thumbnail(src="https://unsplash.it/200/200")
//        .caption
//          %h3 Coaches
//      .speech.coach-speech
//        The tools and resources that FirstTouch gives me access to are a dream. 
//        If I want to organise my training sessions, I can. Communicate with my 
//        players, I can. Check the health and fitness of a player, I can. Ask 
//        others for help, I can. Got an idea and want to capture it before I 
//        forget, I can. Share these, I can. Embark on a new adventure or find a 
//        new job, I can! FirstTouch makes it possible.

#fourth-page
  .flex-container
    .flex-col.card.club
      .front
        %h2 CLUBS
        %a.bar-button.center.more More
      .back
        %h2
          CLUBS
        %p
          Think and work like the best and maximise your chances of success on 
          and off the field. FirstTouch brings you a truly Total Football 
          Management experience. Manage your team, coach your players, instruct 
          your staff, organise events and matches, connect with scouts and 
          agents and make the most of all your resources. Bring it all together 
          on one platform: FirstTouch.
        
          
    .flex-col.card.player
      .front
        %h2 PLAYERS
        %a.bar-button.center.more More
      .back
        %h2 
          PLAYERS
        %p 
          Register and access a vast world of football resources; from articles 
          and videos to teammates and experts. FirstTouch will connect you to 
          your team, the people that can make things happen in your career and 
          enough content to satisfy your appetite for football. FirstTouch will 
          become the platform for managing your football career.
          
    .flex-col.card.manager
      .front
        %h2 MANAGERS
        %a.bar-button.center.more More
      .back
        %h2
          MANAGERS
        %p
          Building teams and achieving success. That's what FirstTouch can be 
          for you. Get access to a wealth of resources and a vast network of 
          players, coaches and scouts that you could only expect working for 
          the elite clubs. It does away with the pain of the trivial activities 
          of more modest clubs and allows you to focus on what matters: your 
          team, your career, your success.
          
    .flex-col.card.coach
      .front
        %h2 COACHES
        %a.bar-button.center.more More
      .back
        %h2
          COACHES
        %p
          If you want to organise training sessions, you can. Communicate with 
          your players, you can. Check the health and fitness of a player, you 
          can. Check their performance. You can. Ask for expert advice, you can. 
          Got an idea and want to capture it before you forget, you can. Share 
          these, you can. Embark on a new adventure or find a new job, 
          absolutely! FirstTouch makes it possible.
    
    .flex-col.card.scout
      .front
        %h2 SCOUTS
        %a.bar-button.center.more More
      .back
        %h2
          SCOUTS
        %p
          FirstTouch is networking 4.0! Grow your own network; gain access to 
          markets near and far; tap into a live and growing database of players 
          and peers; and, gain the tools to manage your research more effectively. 
          Organise trials, track player performances, refer to scout reports, 
          make your own notes and contact players, managers and agents directly.
            
    .flex-col.card.agent
      .front
        %h2 AGENTS
        %a.bar-button.center.more More
      .back
        %h2
          AGENTS
        %p
          Football is about networks and relationships and FirstTouch puts this 
          at the heart of what they do. As an agent you can manage all your 
          clients and contacts from one place and communicate with them 
          regularly and securely. What's more, FirstTouch expands your reach 
          whilst simultaneously making everything more efficient and effective... 
          Gain more access but save time and money.

#fifth-page.section
  .container-fluid
    .row#first-half
      .col-lg-8.col-lg-offset-2
        .row.header
          Football is not complicated and neither is firsttouch. Don't just take our word for it. try it out today
        .row.header
          %p Create a profile

        .row
          %a.bar-button.center(href='/users/sign_up') Sign up

    .row#second-half
      .col-lg-2.col-lg-offset-1
        .row
          = image_tag 'landing-page/ft-footer-logo.png'
        .row
          %p FirstTouch, Ltd &copy; 2016
          %p All rights reserved

:coffeescript
  $('#landing-navbar').hide()

  $(window).scroll ->
    if $(this).scrollTop() > 100
      $('#landing-navbar').fadeIn()
    else
      $('#landing-navbar').fadeOut()
      
  # $('.more').click -> $(this).parent().parent().toggleClass('flipped')
  $('.more').click -> $(this).parent().fadeOut();
  # $('.back').click -> $(this).parent().toggleClass('flipped');
  $('.back').click -> $(this).prev().fadeIn();