@import '~stylesheets/variables';
@import '~stylesheets/organisms/full-page';

.form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .row {
    margin: 0 1px;
    justify-content: space-between;
    .col-md-6 {
      flex-basis: calc(50% - 5px);
    }
    .col-md-3 {
      flex-basis: calc(25% - 5px);
    }
  }
  .tc-container {
    #tc {
      height: 16px;
    }
    label {
      margin-bottom: 0;
      a {
        color: $secondary-text-color;
      }
      a:hover {
        color: $main-text-color;
      }
    }
  }
}

@media (max-width: $max-mobile-width) {
  .tnc {
    font-size: 1em;
  }
}
