default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  timeout: 5000
  host: localhost
  port: 5432
  password: <%= ENV['POSTGRES_PASSWORD'] %>

development:
  <<: *default
  database: firsttouch_devel #CHANGE ME

test:
  <<: *default
  database: firsttouch_test #CHANGE ME

production:
  <<: *default
  database: firsttouch_prod #CHANGE ME
