@import '../variables';

.ft-page {
  margin-top: 150px;

  // &:before {
  //   content: '';
  //   position: absolute;
  //   margin-top: -15px;
  //   width: 3%;
  //   border-top: 5px solid $main-header-color;
  // }

  .timeline-widget-button {
    span {
      padding-left: 4px;
      width: 49px;
      height: 49px;
      background-color: $main-header-color;
      border: solid 1px #a8cb5c;
    }

    svg {
      text-align: center;
      font-size: 1.5em;
      margin-left: 5px;
      margin-top: 5px;
    }
  }

  min-height: calc(100vh - 160px);
}

.item-container {
  background-color: $first-touch-white;
  border-radius: 5px;
  padding: 20px;
  width: 100%;
}

.ft-hr {
  border-top: 1px solid $main-header-color;
}

@media screen and (max-width: 768px) {
  .ft-page {
    margin-top: 40px;

    // &:before {
    //   content: '';
    //   position: absolute;
    //   margin-top: -15px;
    //   width: 15%;
    //   border-top: 5px solid $main-header-color;
    // }
  }
}


.fl { float: left; }
.fr { float: right; }
.align-left { text-align: left; }
.align-right { text-align: right; }
.align-center { text-align: center; }

$spacings: 0, 0.25, 0.5, 1, 1.5, 2, 2.5, 3;
@for $i from 1 through length($spacings) {
  $n:$i;
  $idx:$i - 1;
  .p-#{$idx} { padding: #{nth($spacings, $n)}rem; }
  .py-#{$idx},
  .pt-#{$idx} { padding-top: #{nth($spacings, $n)}rem; }
  .py-#{$idx},
  .pb-#{$idx} { padding-bottom: #{nth($spacings, $n)}rem; }

  .px-#{$idx},
  .pl-#{$idx} { padding-left: #{nth($spacings, $n)}rem; }
  .px-#{$idx},
  .pr-#{$idx} { padding-right: #{nth($spacings, $n)}rem; }

  .m-#{$idx} { margin: #{nth($spacings, $n)}rem; }
  .my-#{$idx},
  .mt-#{$idx} { margin-top: #{nth($spacings, $n)}rem; }
  .my-#{$idx},
  .mb-#{$idx} { margin-bottom: #{nth($spacings, $n)}rem; }

  .mx-#{$idx},
  .ml-#{$idx} { margin-left: #{nth($spacings, $n)}rem; }
  .mx-#{$idx},
  .mr-#{$idx} { margin-right: #{nth($spacings, $n)}rem; }
}
