@import '../variables';

.item-container {
  background-color: $first-touch-white;
  border-radius: 5px;
  padding: 20px;
  width: 100%;
}

.horizontal-separator {
  width: 100%;
  color: $main-text-color;
}

.flex-row {
  display: flex;
}
