@import '../variables';

// shared button styling
%a-button-shared {
  box-sizing: border-box;
  display: block;
  color: $first-touch-white;
  cursor: pointer;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 7px 12px 6px 12px;
  width: auto;
  border-radius: 5px;
  border: 1px solid $button-background-colour;
  background-color: $button-background-colour;
  text-align: center;

  &:hover,
  &:focus {
    background-color: $button-background-colour-on-hover;
    color: $first-touch-white;
    text-decoration: none;
  }

  &.center {
    margin-left: auto;
    margin-right: auto;
  }

  &.reverse {
    background-color: $first-touch-white;
    border-color: $main-text-color;
    color: $main-text-color;

    &:hover {
      background-color: $main-text-alpha-20;
    }
  }

  &[disabled] {
    color: $main-text-alpha-50;
    background-color: $main-text-alpha-20;
    border: none;
    box-shadow: none;
    cursor: unset;

    &:hover {
      background-color: $main-text-alpha-20;
    }
  }
}

/*
  #NOTE: Old button style - Probably to be removed
  .a-bar-button {
    border: none;
    margin: 0;
    margin-top: 10px;
    background-color: #B3CB75;
    color: $first-touch-white;
    box-shadow: none;
    font-size: 0.9em;
    width: 200px;
    padding: 5px 20px;
    font-weight: 400;
    border-radius: .25rem;
    left: 0;
  }
*/
