@import 'a-shared';
@import '../variables';

// Links
a.a-link {
  &.dark {
    color: $link-color;

    &:hover,
    &:focus {
      color: $link-color-hover;
    }
  }

  &.light {
    color: $first-touch-white-alpha-70;

    &:hover,
    &:focus {
      color: $first-touch-white;
    }
  }

  font-size: 0.9em;
  text-transform: uppercase;
}

a.a-link-button {
  @extend %a-button-shared;
}

h4 {
  font-weight: 300;
}

.spaced-title {
  letter-spacing: 2px;
}

.upper-cased {
  text-transform: uppercase;
}

.main-color {
  color: $main-text-color;
}

.main-header-color {
  color: $main-header-color;
}

.large-sub-title {
  font-size: $main-subtitle-text-size;
}

.small-sub-title {
  font-size: $main-text-size;
}
