@import 'a-shared';
@import '../variables';

// Links
a.a-link {
  &.dark {
    color: $link-color;

    &:hover,
    &:focus {
      color: $link-color-hover;
    }
  }

  &.light {
    color: $first-touch-white-alpha-70;

    &:hover,
    &:focus {
      color: $first-touch-white;
    }
  }

  font-size: 0.9em;
  text-transform: uppercase;
}

a.a-link-button {
  @extend %a-button-shared;
}

.title {
  color: $main-header-color;
  text-transform: uppercase;
  font-weight: bold;
  font-size: $important-size;
}

// TODO: Check if its possible and reasonable to merge with title
.spaced-title {
  color: $main-text-color;
  font-weight: 300;
  padding: 5px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.large-sub-title {
  color: $main-text-color;
  font-size: $main-subtitle-text-size;
}

.small-sub-title {
  color: $main-text-color;
  font-size: $main-text-size;
}

h1 {
  font-size: 3em;
  line-height: 1.2;
  text-transform: uppercase;
  display: block;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}
