@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,300');
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'variables';

$font-family-base: Ubuntu;

$theme-colors: (
  "dark": $navbar-background-color,
  "primary": $main-header-color,
  "success": $link-color-hover
);

$carousel-indicator-active-bg: $main-header-color;
