@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,300');
@import url('https://use.fontawesome.com/releases/v5.7.1/css/all.css');
@import 'custom';
@import '~bootstrap/scss/bootstrap';
@import 'atoms/a-layout';
@import 'atoms/a-icons';
@import 'atoms/a-buttons';
@import 'atoms/a-select';
@import 'atoms/a-feedback';
@import 'atoms/a-text';
@import 'atoms/a-table';
@import 'molecules/m-forms';
@import 'molecules/m-messaging';
@import 'molecules/m-user-elements';

// Default text color to white
// Set default font family
// Set minimum height to the page
body {
  min-height: 100%;
  font-family: 'Ubuntu', sans-serif;
  color: $first-touch-white;
  background-color: $navbar-background-color;
}
