@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,300');
@import 'custom';
@import '~bootstrap/scss/bootstrap';
@import 'atoms/a-icons';
@import 'atoms/a-buttons';
@import 'atoms/a-feedback';
@import 'atoms/a-text';
@import 'molecules/m-forms';
@import 'molecules/m-navigation';
@import 'molecules/m-messaging';

// Default text color to white
// Set default font family
// Set minimum height to the page
body {
  min-height: 100%;
  font-family: 'Ubuntu', sans-serif;
  color: $first-touch-white;
}
