@import '~stylesheets/variables';
@import '~stylesheets/button';
.form-group {
  label {
    color: $main-text-color !important;
  }
}

.error {
  color: red;
  li {
    color: red;
    display: list-item;
    list-style: disc;
    &:first-letter {
      text-transform: capitalize;
    }
  }
}
