@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,300');
@import 'variables';

html,
body {
  /* Remove any browser-default margins. */
  margin: 0;
  height: 100%;
}

body {
  min-height: 100%;
  font-family: 'Ubuntu', sans-serif;
  color: $first-touch-white;
}

ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;

  &.bullet {
    padding-left: 20px;
    li {
      display: list-item;
    }

    li:before {
      content: '\2022';
      margin-right: 5px;
    }
  }
}

li {
  display: inline;
}

.navbar {
  background-color: $navbar-background-color;
  height: $navbar-height;
  line-height: $navbar-image-line-height;

  .navbar-brand {
    img {
      height: $navbar-logo-height;
      bottom: 10px;
      left:0;
    }
  }

  .nav-item {
    a {
      text-transform: uppercase;
      color: #9d9d9d;
      text-decoration: none;
    }
    a:hover {
      color: #fff;
    }
    .btn {
      background-color: transparent;
    }
  }
  .nav-link {
    padding: 0 1em;
  }
  .nav-options{
    font-size: 1em;
  }
}

//bar-button uniform
.bar-button {
  box-sizing: border-box;
  display: block;
  margin: 5px;
  color: $first-touch-white;
  font-size: 25px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 7px 12px 6px 12px;
  width: 200px;
  border-radius: 5px;
  background-color: $button-background-colour;
  border: $button-border;
  box-shadow: $button-box-shadow;
  text-align: center;

  a {
    text-decoration: none;
    color: black;
  }

  &:hover,
  &:focus {
    background-color: #4bba63;
    border: 2px solid rgb(84, 207, 111);
    box-shadow: 3px 3px 20px #000000;
    color: $first-touch-white;
    cursor: pointer;
    text-decoration: none;
  }

  &.center {
    margin-left: auto;
    margin-right: auto;
  }

  &.reverse {
    border-color: $main-text-color;
    color: $main-text-color;

    &:hover {
      background-color: $main-text-alpha-20;
    }
  }
}


#content {
  min-height: calc(100vh - 40px);
}

.full {
  .carousel-item{
    height: 50vh;
  }
  //first page
  background-color: #000000;
  .carousel-item {
    //class of container-flud no padding removes padding makes width bigger
    max-height: 92vh;
    .menu{
      filter: brightness(60%);
      height: 50vh;
    }
  }

  .toggle li {
    //menu player scouts clubs toggle
    bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    opacity: 0.6;
    text-indent: 0;
    margin: 0 50px;
    border: none;
    background-color: transparent;
    text-transform: none;
  }

  .active {
    color: #439042;
  }

  .cursor {
    cursor: pointer;
  }

  .intro-message {
    .carousel-caption{
      top: 20%;
      font-size: 0.2em;
      text-align: center;
      img {
        position: relative;
        //logo height
        height: 200px;
      }

      .main{
        text-transform: uppercase;
        opacity: 0.6;
        font-size: 20px;
        margin: 10px;
      }

      .typewriter {
        //RAISEYOURGAME
        display: none;
      }
    }
  }


  .contentSlides {
    //player scouts clubs page
    .carousel-caption{
      top: 0;
      left: 5em;
      text-align: left;
    }
    .header{
      text-transform: uppercase;
      font-size: 5em;
    }
    .description{
      font-weight: lighter;
      width: 30em;
      opacity: 0.6;
      font-size: 2em;
      margin-top: 0.5em;
    }
    .bar-button {
      float: right;
      width: 200px;
      font-size: 20px;
      margin-right: -3em;
    }
  }
}

#trans2ndpg {
  background-color: $navbar-background-color;
  height: 250px;
  padding-top: 50px;
  .header {
    text-transform: uppercase;
    font-size: 40px;
    color: $secondary-header-color;
  }

  h2 {
    padding-top: 15px;
    font-weight: 300;
  }

}

#second-page {
    //parallax
    padding: 2em;
    box-shadow: inset 0px 0px 55px #000000;
    border: 2.5px solid #000000;
    background: url('/images/landing-page/BG-second-page.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 130em;
    border-bottom: 100px solid black;

  .headText{
    box-sizing: content-box;
    width: 20em;
    text-align:center;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: bold;
  }


  .challenge,
  .solution{
    box-sizing: border-box;
    width: 35em;
    margin-left: 3.5em;
    font-size: medium;
    text-transform: none;
    text-align: center;
  }

  .subheadCapabilities{
    font-variant: small-caps;
    text-align: left;
    font-weight: 550;
    font-size: 1.2em;
    .description{
      box-sizing: border-box;
      margin: 1em;
      font-variant: normal;
      text-align: left;
      font-weight: lighter;
      font-size: 0.8em;
      li {
        list-style: circle outside;
        display: list-item;
      }
    }
  }

  .row{
    margin: 1em;
  }

  .line-down{
    box-sizing: border-box;
    height: 19em;
    border-right: 3px solid $first-touch-white;
  }

  .first-line{
    height: 10em;
  }

  /*animation*/
  [data-aos="animate-first-line-down"]{
    height: 0em;
    transition-property: height;
    &.aos-animate{
      height: 10em
    }
  }

  [data-aos="animate-line-down"]{
    height: 0em;
    transition-property: height;
    &.aos-animate{
      height: 19em
    }
  }

}

#third-page {
  background: black;
  padding-bottom: 100px;

  .carousel{
    width: 800px;
  }

  .polaroid img {
    height: 150px;
    width: 260px;
    margin: 0.3em;
  }

  .polaroid {
    background-color: $first-touch-white;
    padding: 15px;
    height: 300px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(143, 139, 139, 0.2);
    position: relative;
    margin: 1em;
  }

  .carousel-inner .carousel-item.active,
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    display: flex;
  }

  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(33.33333333%);
  }

  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-33.33333333%);
  }

  .carousel-inner .carousel-item-right,
  .carousel-inner .carousel-item-left{
    transform: translateX(0%);
  }

  .arrowLeft, .carousel-control-prev-icon,
  .arrowRight, .carousel-control-next-icon {
    margin: 7em -4em 7em -4em;
    width: 3em;
  }

  .polTitle {
    text-align: left;
    color: black;
    text-transform: lowercase;
    font-weight: bold;
    padding: 50px 0 0 10px;
    font-size: 1em;
  }

  .polaroid .description {
    position: relative;
    text-transform: lowercase;
    font-size: 0.9em;
    color: black;
    text-align: left;
    padding-left: 10px;
    padding-top: 0;
    width: 12em;
  }

  .registerPlus img {
    position: absolute;
    height: 20px;
    width: auto;
    right: 30px;
    bottom: 30px;
  }

  .carousel-indicators {
    bottom:-25px;
  }

}

footer {
  background-color: #343434;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;

  .logo {
    height: 2em;
    width: auto;
  }

  .cRight{
    color: #666464;
    font-size: 0.95em;
  }

  .text {
    margin-top: 1.5em;
    text-decoration: none;
    font-size: 0.9em;
    letter-spacing:0;
    word-spacing: 1px;
    color: #666464;
  }

  .social{
    height: 25px;
    width: auto;
    filter: invert(80%);
  }
}

.section {
  font-weight: 300;
  font-size: large;

  .content {
    color: $main-text-color;
    // text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 30px;
  }

  .half {
    min-height: 50%;
    min-height: 50vh;
  }

  .header {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 6px;
  }

  .cardboard {
    .title {
      color: $main-header-color;
      text-transform: uppercase;
      font-size: 40px;
      letter-spacing: 6px;
    }

    .description {
      text-transform: uppercase;
      color: $main-text-color;
      letter-spacing: 2px;
      line-height: 40px;
    }
  }
}


//landscape view of mobile portable devices
@media (min-device-width: 450px){
  .bar-button{
    font-size: 20px;
    width: 150px;
    border-radius: 5px;
  }

  .full {
    .carousel-item{
      height: 100vh;
    }
    //first page
    background-color: #000000;
    .carousel-item {
      .menu{
        filter: brightness(60%);
        //increased width and height of menu picture
        width: 100vw;
        height: 100vh;
      }
    }
    .toggle li {
      //menu player scouts clubs toggle
      bottom: 50px;
      opacity: 0.6;
      text-indent: 0;
      margin: 0 50px;
    }

    .intro-message {
      .carousel-caption{
        top: 15%;
        font-size: 0.2em;
        img {
          //logo height
          height: 140px;
        }
        .main{
          opacity: 0.6;
          font-size: 15px;
          margin: 10px;
        }
        .typewriter {
          //RAISEYOURGAME
          display: none;
        }
      }
    }
    .contentSlides {
      //player scouts clubs page
      .carousel-caption{
        top: 0;
        left: 5em;
        text-align: left;
      }
      .header{
        text-transform: uppercase;
        font-size: 5em;
      }
      .description{
        width: 30em;
        opacity: 0.6;
        font-size: 2em;
        margin-top: 0.5em;
      }
      .bar-button {
        float: right;
        width: 200px;
        font-size: 20px;
        margin-right: -3em;
      }
    }
  }

  #second-page{
    //parallax
    height: 130em;
    .challenge,
    .solution {
      font-size: 1em;
    }
  }

  #third-page{
    .carousel {
      width: 800px;
    }
  }
}

//iPhoneX landscape and portrait
@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
  #second-page {
    height: 130em;
  }
}
//iPhoneX landscape
@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3)
and (orientation : landscape) {
  .full{
    .intro-message {
      .carousel-caption{
        top: 0%;
        font-size: 0.2em;
        text-align: center;
        img {
          position: relative;
          //logo height
          height: 140px;
        }
        .main{
          opacity: 0.6;
          font-size: 15px;
          margin: 10px;
        }
        .typewriter {
          //RAISEYOURGAME
          display: none;
        }
      }
    }
  }
}

//iPad landscape and portrait
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
  #second-page {
    height: 130em;
  }
}
//iPad portrait
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  .full {
    .intro-message {
      .carousel-caption {
        top: 25%;
        img{
          height: 250px;
        }
        .main {
          font-size:25px;
        }
        h1 {
          margin-top: 25px;
          font-size:40px;
        }
      }
    }
  }
}

//laptop screens and desktop
@media (min-width: 1200px){
  .bar-button {
    margin: 5px;
    font-size: 25px;
    font-weight: 300;
    padding: 7px 12px 6px 12px;
    width: 300px;
    border-radius: 5px;
  }

  .full{
    .toggle li:hover {
      font-size: 140%;
      color: #439042;
    }
    .intro-message {
      .carousel-caption{
        top: 25%;
        transform: translateY(-30%);
        font-size: 0.8em;
        text-align: center;
        img {
          position: relative;
          //logo height
          height: 200px;
        }

        .main {
          text-transform: uppercase;
          opacity: 0.6;
          font-size: 20px;
          margin: 15px;
        }

        .bar-button{
          margin-bottom: 15px;
        }

        h1 {
          margin-top: 20px;
          font-size: 25px;
          text-transform: uppercase;
          opacity: 0.6;
        }
        .typewriter {
          //RAISEYOURGAME
          display: initial;
          overflow: hidden; /* content is not revealed until the animation */
          white-space: nowrap; /* content on a single line */
          margin: 0 auto; /* Gives that scrolling effect as the typing happens */
          letter-spacing: 2px;
          width: 18ch;
          animation: typing 3s steps(17);
        }
        /* The typing effect */
        @keyframes typing {
          0% {
            width: 0ch;
          }
          100% {
            width: 17ch;
          }
        }
      }
    }
    .contentSlides {
      //player scouts clubs page
      .carousel-caption{
        top: 0;
        left: 5em;
        text-align: left;
      }
      .header{
        text-transform: uppercase;
        font-size: 7em;
      }
      .description{
        font-weight: lighter;
        width: 30em;
        opacity: 0.6;
        font-size: 2em;
        margin-top: 0.5em;
      }
      .bar-button {
        float: right;
        width: 200px;
        font-size: 20px;
        margin-right: -5em;
      }
    }
  }

  #second-page {
    font-size: $main-text-size;
    background: #000000;
    padding: 50px 100px 100px 100px;
    height: 125em;
    .second-layer{
      //parrallax
      height: 115em;
      width: auto;
      padding: 2em;
      box-shadow: inset 0px 0px 55px #000000;
      border: 2.5px solid #000000;
      background: url('/images/landing-page/BG-second-page.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    .headText{
      box-sizing: content-box;
      width: 20em;
      text-align:center;
      text-transform: uppercase;
      font-size: 2em;
      font-weight: bold;
    }
    .challenge,
    .solution{
      box-sizing: border-box;
      width: 35em;
      margin-left: 3.5em;
      font-size: medium;
      text-transform: none;
      text-align: center;
    }
    .subheadCapabilities{
      font-variant: small-caps;
      text-align: left;
      font-weight: 550;
      font-size: 1.2em;
      .description{
        box-sizing: border-box;
        margin: 1em;
        font-variant: normal;
        text-align: left;
        font-weight: lighter;
        font-size: 0.8em;
        li {
          list-style: circle outside;
          display: list-item;
        }
      }
    }
    .row{
      margin: 1em;
    }

    .line-down{
      box-sizing: border-box;
      height: 19em;
      border-right: 3px solid $first-touch-white;
    }

    .first-line{
      height: 10em;
    }

    /*animation*/
    [data-aos="animate-first-line-down"]{
      height: 0em;
      transition-property: height;
      &.aos-animate{
        height: 10em
      }
    }

    [data-aos="animate-line-down"]{
      height: 0em;
      transition-property: height;
      &.aos-animate{
        height: 19em
      }
    }
  }

  #third-page{
    .carousel {
      width: auto;
    }
  }
}

//extra large desktop screens
@media (min-device-width: 1500px) {
  .full {
    .intro-message {
      .carousel-caption {
        top: 35%;
        img{
          height: 275px;
        }
        .main {
          font-size:25px;
        }
        h1 {
          margin-top: 25px;
          font-size:40px;
        }
      }
    }
    .contentSlides{
      //player scouts clubs page
      .carousel-caption{
        top: 2%;
        left: 5em;
        text-align: left;
      }
      .header{
        font-size: 7em;
      }
      .description{
        font-size: 3em;
      }
      .bar-button {
        float: right;
        width: 300px;
        font-size: 25px;
        margin-right: 0;
      }
    }
  }
  #second-page {
    height: 140em;
    .second-layer{
      height: 130em;
      padding-bottom: 10em;
      .capabilities{
        margin-left: 25em;
      }
      .subheadCapabilities{
        .description {
          width: 25em;
        }
      }
    }
    .headText{
      font-size: 3em;
    }
    .challenge,
    .solution {
      font-size: large;
    }

    .subheadCapabilities {
      font-size: 2em;
      .description {
        font-size: large;
      }
    }
  }
}
