@import '~stylesheets/variables';



.ft-item {
  padding: 0 30px;
  border-top: 1px solid $secondary-text-color;
  .yes {
    color: $timeline-widget-button-background;
  }
  &:last-child {
    border-bottom: 1px solid $secondary-text-color;
  }
  .list {
    text-transform: capitalize;
    &::after {
      content: ', ';
    }
    &:last-child::after {
      content: '';
    }
  }
  .avatar {
    height: 300px;
    border-radius: 50%;
  }

  .title {
    color: $secondary-header-color;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 15px;
  }
  .pending {
    font-weight: bold;
  }
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    .header {
      display: flex;
      .img-container {
        height: 120px;
        max-width: 120px;
        margin-right: 30px;
        .img-fluid {
          max-height: 100%;
        }
      }
      .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .target {
          display: block;
          &.yes {
            color: $timeline-widget-button-background;
          }
        }
        .extra {
          text-transform: none;
          .author {
            color: #000;
          }
        }
      }
    }
    .widget {
      padding: 0 0;
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: space-around;
      a {
        display: flex;
        flex: 1;
        max-height: 50px;
        .btn-round {
          margin: 10px;
          width: 100%;
          max-width: 140px;
          flex: 1;
          display: flex;
          justify-content: center;
          text-align: center;
          color: $main-text-color;
          cursor: pointer;
          border-radius: 9999px;
          border: 1px solid $secondary-text-color;
          background: #fff;
          &:hover {
            background: $button-background-hover;
          }
        }
      }
    }
  }
}
