@import '~stylesheets/variables';
.successModal {
  .modal-dialog {
    min-height: unset;
    max-height: 200px !important;
    max-width: 700px !important;
    .divSuccess {
      display: flex;
      width: 100%;
      height: 150px;
      button {
        margin-top: auto;
        margin-left: auto;
      }
    }
  }
}

#metaModal {
  color: black;
  .modal-lg{
    max-width: 1200px;
    // min-height: 500px;
    .modal-content {
      // min-height: 700px;
    }
  }
  .modal-md{
      max-width: 800px;
      // min-height: 500px;
    .modal-content {
      // min-height: 200px;
    }
  }
  .buttons-inner {
    display: flex;
    flex-direction: row-reverse;
    .ft-button {
      width: 150px;
      color: $main-text-color;
      border: 1px solid $main-text-color;
      background-color: $button-background;
      border-radius: 10px;
      cursor: pointer;
      &:hover {
        background-color: $button-background-hover;
      }
    }
    .ft-button-success {
      color: white;
      min-height: 20px;
      background-color: $main-header-color;
      cursor: pointer;
      &:hover {
        background-color: $secondary-header-color;
      }
    }
  }
  .bid{
    margin-top: 20px;
  }
  header {
    display: none;
  }
  .title {
    color: $secondary-header-color;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 15px;
  }
  .modal-dialog {
    border: 10px solid $main-text-color;
    border-radius: 10px;
  }
  .modal-content {
    padding: 0;
    margin: 0;
    border: 0px;
    border-radius: 0;
    .yes {
      color: $timeline-widget-button-background;
    }
  }
  .reportHeadline {
    margin-bottom: 40px;
    p.col {
      margin: 0;
    }
  }
  .infos .row {
    margin-top: 10px;
    .col {
      margin: 0;
      .list {
        text-transform: capitalize;
      }
    }
  }
  .footer-modal {
    margin-top: 40px;
    float: right;
    button {
      padding: 5px 30px;
      border-radius: 15px;
      font-size: 0.9em;
    }
  }
  .list {
    text-transform: capitalize;
    &::after {
      content: ', ';
    }
    &:last-child::after {
      content: '';
    }
  }
  footer {
    display: none;
  }
}
