@import '~stylesheets/variables';
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: 'Ubuntu', sans-serif;
  color: $secondary-text-color;
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-family: 'Ubuntu', sans-serif;
  color: $secondary-text-color;
}

:-ms-input-placeholder {
  /* IE 10+ */
  font-family: 'Ubuntu', sans-serif;
  color: $secondary-text-color;
}

:-moz-placeholder {
  /* Firefox 18- */
  font-family: 'Ubuntu', sans-serif;
  color: $secondary-text-color;
}

.ft-search-widget {
  color: $main-text-color;
  .v-select {
    border: 1px solid $secondary-text-color;
    border-radius: 10px;
    padding: 10px 5px;
    .clearfix {
      border: 0;
    }
    .dropdown-toggle {
      max-height: 35px;
      border: 0px;
    }
    .selected-tag {
      color: $secondary-text-color;
      font-family: 'Ubuntu', sans-serif;
    }
    .clear {
      display: none;
    }
  }
  .form-control {
    padding: 0;
  }
  .list-title {
    color: $main-text-color;
    font-size: 0.95em;
    text-transform: uppercase;
  }
  .list-count {
    color: $main-header-color;
    font-size: 4em;
    text-align: center;
  }
  .filter {
    margin: 5px;
    max-width: 23%;
    input,
    select {
      height: 100%;
      padding: 10px;
    }
    .icon-inner {
      margin-top: 5px;
      display: inline-block;
      cursor: pointer;
      &:hover {
        color: $secondary-header-color;
      }
    }
    .datepicker {
      float: left;
    }
  }
}

.table-search {
  th {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1rem;
    border: none;
    text-align: center;
  }
  tbody {
    td {
      text-align: center;
      border: 0;
    }
    .buttons-inner {
      float: none;
    }

  }
  .shortable {
    width: 20%;
    cursor: pointer;
    span {
      float: right;
    }
    &:hover {
      color: $main-header-color;
    }
    p {
      display: inline;
    }
  }
}
