// palette
$navbar-background-color: #212223;
$navbar-background-color-faded: rgba(33,34,35,0.8);
$landing-page-dark-background-color: #191A1B;
$background-color: #343434;
$main-header-color: #A8CB5C;
$third-header-color: #6DA87D;
$secondary-header-color: #4BBA63;
$main-text-color: #7f8081;
$main-text-alpha-20: rgba(140,140,140,0.2);
$main-text-alpha-50: rgba(140,140,140,0.5);

$secondary-text-color: #BCBCBC;
$first-touch-white: #FFFFFF;
$first-touch-white-alpha-20: rgba(255,255,255,0.2);
$first-touch-white-alpha-70: rgba(255,255,255,0.7);

// font sizes
$important-size: 1.3em;
$main-text-size: 0.98em;
$main-subtitle-text-size: 1.2em;

//dimensions
$navbar-height: 78px;
$navbar-text-line-height: 15px;
$navbar-image-line-height: 70px;
$navbar-logo-height: 52px;
$section-padding: 120px;

$navbar-width: 18vw;
$navbar-padding: 20px;

$searchbar-padding: 40px;
$searchbar-height: 125px;

// form background
$div-filter-background: #2b2b2b;
$form-background: #ffffff;

// Popup

$popup-title-color:#8c8c8c;
$popup-title-font-size:1.5em;

// Buttons
$button-background:  rgba(255, 255, 255, 0.2);
$button-background-hover:  rgba(0, 0, 0, 0.2);

// timeline-widget
$timeline-widget-button-background: #a8cb5c;
$timeline-widget-button-color: #ffffff;

$input-focus-color: #a8cb5c;
$form-control-read-only: #e9ecef;
