// palette
$navbar-background-color: #212223;
$nav-hover-background: #5e5e5e;
$navbar-background-color-faded: rgba(33, 34, 35, 0.8);
$landing-page-dark-background-color: #191a1b;
$background-color: #343434;
$main-header-color: #a8cb5c;
$secondary-header-color: #4bba63;
$third-header-color: #6DA87D;
$link-color: #666464;
$link-color-hover: #439042;

$button-background-color: $link-color-hover;
$button-border: solid 2px $secondary-header-color;
$button-box-shadow: 3px 3px 12px #000000;
$button-background-color-on-hover: $secondary-header-color;
$button-border-on-hover: 2px solid rgb(84, 207, 111);
$button-border-on-hover-box-shadow: 3px 3px 20px #000000;

$second-layer-border: 2.5px solid #000000;
$second-layer-shadow: 0 0 10px #272727, 0 0 15px #063b04, 0 0 10px 10px #070707;
$second-layer-box-shadow: inset 0px 0px 55px #000000;
$footer-text-color: #666464;

$main-text-color: #7f8081;
$main-text-alpha-20: rgba(140, 140, 140, 0.2);
$main-text-alpha-50: rgba(140,140,140,0.5);
$secondary-text-color: #bcbcbc;
$first-touch-white: #ffffff;
$first-touch-white-alpha-20: rgba(255, 255, 255, 0.2);
$first-touch-white-alpha-70: rgba(255, 255, 255, 0.7);

// font sizes
$important-size: 1.3em;
$main-text-size: 1em;
$main-subtitle-text-size: 1.2em;
$left-menu-text-size: 0.85rem;

$first-main-text: 1.5em;

$content-slides-header: 7em;
$content-slides-description: 2rem;

$second-page-header-font: 1.875rem; //h2 size
$second-page-sub-font: 1.3rem;

$third-page-polaroid-title: 1em;
$third-page-polaroid-description: 0.9em;

$page-header: 3.3em;
$letter-spacing: 3px;
$letter-spacing-medium: 1.5px;
$letter-spacing-small: 1px;

//dimensions
$navbar-height: 90px;
$navbar-image-line-height: 80px;
$navbar-logo-height: 70px;
$section-padding: 120px;

$navbar-width: 18vw;
$navbar-padding: 20px;

$searchbar-padding: 40px 35px;
$searchbar-height: 125px;

// form background
$div-filter-background: #2b2b2b;
$form-background: #ffffff;

// Popup

$popup-title-color:#8c8c8c;
$popup-title-font-size:1.5em;

// Buttons
$button-background:  rgba(255, 255, 255, 0.2);
$button-background-hover:  rgba(0, 0, 0, 0.2);

// timeline-widget
$timeline-widget-button-background: $main-header-color;
$timeline-widget-button-color: #ffffff;

$input-border-focus: $main-header-color;
$input-border-focus-shadow: rgba(168, 203, 92, 0.25);
$form-control-read-only: #e9ecef;

$max-mobile-width: 1000px;

// dialog
$dialog-background-color: $main-text-color !default;
$dialog-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) !default;
$dialog-close-hover-color: $link-color-hover !default;
$dialog-title-font-size: $important-size !default;
$dialog-font-size: 14px !default;
$dialog-padding-primary: 20px;