/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

@import 'font-awesome';
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300);
@import 'bootstrap';
@import 'variables';
@import 'sidebar';
@import 'posts';
@import 'profile';
@import 'typography';
@import 'network';

html, body {
  font-family: 'Ubuntu', sans-serif;
  height: 100%;
  background-color: $background-color;
  font-weight: 300;
  color: $main-text-color;
  font-size: 1em;
}

input {
  width: 100%;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.search-icon {
  position: relative;
  left: 95%;
  top: 28px;
  z-index: 1;
}

.bar-button {
  text-transform: uppercase;
  text-decoration: none;
  color: $main-text-color;
  font-weight: 300;
  padding: 6px 12px 6px 12px;
  border: 1px solid $main-text-color;
  border-radius: 5px;

  &:hover {
    background-color: $main-text-color;
    color: black;
  }

  &.big {
    font-size: 34px;
    width: 250px;
  }
}


#profile-edit {
  margin-top: 34px;
}
