@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300);
@import 'variables';
@import 'bootstrap';

html, body {
  /* Remove any browser-default margins. */
  margin: 0;
  height: 100%;
}

body {
  min-height: 100%;
  font-family: 'Ubuntu', sans-serif;
  background: none;
  color: $first-touch-white;
}

ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

.navbar {
  background-color: $navbar-background-color;
  height: $navbar-height;
  line-height: $navbar-image-line-height;

  .navbar-brand {
    padding: 0 15px;
  }

  #navbar-logo img {
    height: $navbar-logo-height;
  }

  .navbar-collapse {
    background-color: $navbar-background-color;

    .with-border {
      border: none;
    }
  }

  li {
    margin-top: $navbar-text-line-height;

    a {
      padding: 10px 15px;
      text-transform: uppercase;
    }

    &.with-border {
      border: 1px solid $main-text-color;
      border-radius: 5px;
    }
  }
}

.full {
  background: image-url('landing-page/team-logo.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  text-align: center;
  color: $first-touch-white;

  .intro-message {
    text-align: center;
    position: relative;
    padding-top: 15%;
    padding-bottom: 20%;
  }

  #start-here {
    margin-top: 40px;
  }
}

#second-page {
  text-align: center;

  #first-half {
    background-color: $first-touch-white;
  }

  #second-half {
    .header {
      margin-top: 5%;
    }

    background: image-url('landing-page/second-page-second-half.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

#third-page {
  background-color: $landing-page-dark-background-color;

  .container-fluid {
    min-height: 100vh;
  }

  #wrapper {
    height: 100%;
  }

  #first-half {
    height: 100%;
  }

  #second-half {
    height: 100%;
    background: image-url('landing-page/third-page-second-half.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0% 100%);
  }
}

#fourth-page {
  color: $main-text-color;

  h3 {
    text-transform: uppercase;
    color: $main-header-color;
  }
}

#fifth-page {
  background: image-url('landing-page/fifth-page-first-half.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  text-align: center;
  color: $first-touch-white;

  #first-half {
    vertical-align: middle;
    display: inline-block;
    min-height: 60%;
    min-height: 60vh;
  }

  #second-half {
    padding-top: 40px;
    background-color: $navbar-background-color;
    min-height: 40%;
    min-height: 40vh;

    p {
      color: $main-text-color;
    }
  }
}

.bar-button {
  margin: 8px;
  width: 240px;
  text-transform: uppercase;
  text-decoration: none;
  color: $first-touch-white;
  font-weight: 300;
  padding: 6px 12px 6px 12px;
  border: 1px solid $first-touch-white;
  border-radius: 5px;
  background-color: $first-touch-white-alpha-20;

  a {
    text-decoration: none;
    color: $first-touch-white;
  }

  &:hover {
    background-color: $first-touch-white-alpha-70;
    color: $first-touch-white;
    cursor: pointer;
  }

  &.center {
    margin-left: auto;
    margin-right: auto;
  }

  &.reverse {
    border-color: $main-text-color;
    color: $main-text-color;

    &:hover {
      background-color: $main-text-alpha-20;
    }
  }
}

.section {
  font-weight: 300;
  font-size: large;
  min-height: 100%;
  min-height: 100vh;

  .content {
    color: $main-text-color;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 30px;
  }

  .half {
    min-height: 50%;
    min-height: 50vh;
  }

  .header {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 6px;
  }

  .cardboard {
    .title {
      color: $main-header-color;
      text-transform: uppercase;
      font-size: 40px;
      letter-spacing: 6px;
    }

    .description {
      text-transform: uppercase;
      color: $main-text-color;
      letter-spacing: 4px;
      line-height: 40px;
    }
  }
}

@media (min-width: 767px) {
  .padded {
    padding-left: 90px;
  }

  #third-page {
    .container-fluid{
      height: 100vh;
    }
  }
}
