@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300);
@import 'variables';
@import 'simplegrid.min';

html, body {
  font-family: 'Ubuntu', sans-serif;
  /* Remove any browser-default margins. */
  margin: 0;
  background-color: black;
}

.landing-page {
  .row {
    max-width: 100%;
  }
}

.navbar {
  padding-top: 30px;
}

.bar-button {
  text-transform: uppercase;
  text-decoration: none;
  color: $main-text-color;
  font-weight: 300;
  padding: 6px 12px 6px 12px;
  border: 1px solid $main-text-color;
  border-radius: 5px;

  &:hover {
    background-color: $main-text-color;
    color: black;
  }

  &.big {
    font-size: 34px;
    width: 250px;
  }
}
.section {
  font-weight: 300;
  font-size: large;
  height: 100%;
  height: 100vh;

  .content {
    color: $main-text-color;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 4px;
    line-height: 44px;
  }

  &.dark {
    color: $main-text-color;
  }

  &.gray {
    background-color: $background-color;
    color: $main-text-color;
  }

  &.clear {
    background-color: white;
    .bar-button:hover {
      color: white;
    }
    .header {
      color: $main-header-color;
    }
  }

  &.green {
    background: $secondary-header-color;
    .content {
      color: white;
    }
    .header {
      color: white;
    }
    .bar-button {
      border-color: white;
      color: white;

      &:hover {
        color: $main-text-color;
        background-color: white;
      }
    }
  }

  &.half {
    height: 50%;
    height: 50vh;
  }

  &.padded {
    padding-top: 70px;
  }

  .header {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 6px;
  }
}

.cardboard {
  .title {
    color: $main-header-color;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 6px;
  }

  .description {
    text-transform: uppercase;
    color: $main-text-color;
    letter-spacing: 4px;
    line-height: 40px;
  }
}

.landing-image {
  background-image: image-url('landing-page/team-logo.png');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
  min-width: 100%;

  .headline {
    position: absolute;
    top: 75%;
    right: 30%;
    font-size: 36px;
  }
}

#signup-section-2 {
  margin-top: 70px;
  margin-left: 60px;
}

#signup-section-3 {
  margin-top: 70px;
  margin-left: 38%;
}
