// palette
$background-color: #343434;
$main-header-color: #B3CB75;
$secondary-header-color: #6DA87D;
$main-text-color: #8C8C8C;
$secondary-text-color: #BCBCBC;
$first-touch-white: #FFFFFF;

// font sizes
$important-size: 1.3em;
